# Documentation - Using Libraries: Pandas
This educational notebook illustrates the use of the `pandas` library, a powerful data manipulation and analysis tool in Python.

It covers:
- Series: One-dimensional labeled arrays
- DataFrames: Two-dimensional labeled data structures
- Data Operations:
  - Creation and manipulation of Series/DataFrames
  - Indexing and selection
  - Handling missing data
  - Grouping and aggregation
  - Merging and joining datasets
  - Pivot tables
- File Operations:
  - Reading/writing CSV files
  - Reading/writing Excel files
  - Reading HTML tables

In [1]:
# %pip install numpy # uncomment this line to install
# %pip install pandas # uncomment this line to install

In [2]:
import numpy as np
import pandas as pd

## Series
### A. Creating a Series
We can make a series from 
- a list
- a numpy array
- a dictionary

In [3]:
# SERIES FROM LIST
my_list = ['m', 'h', 'n']
print(pd.Series(data=my_list))

0    m
1    h
2    n
dtype: object

In [4]:
# SERIES FROM NUMPY ARRAY
my_np_array = np.array([2, 4, 6])
print(pd.Series(my_np_array))

0    2
1    4
2    6
dtype: int64

In [5]:
# SERIES FROM DICTIONARY
## dictionary's keys become indexes / labels
my_dict = {'key1':'lowercase string', 'key2':'UPPERCASE STRING'}
print(pd.Series(my_dict))

key1    lowercase string
key2    UPPERCASE STRING
dtype: object

### B. Labelling a Series
We can give a custom label for each key of a series.

In [6]:
# ASSIGNING INDEXES / LABELS
labels =['label1', 'label2', 'label3']
print(pd.Series(data=my_list, index=labels))

label1    m
label2    h
label3    n
dtype: object

### C. Indexing a Series
We can access elements of a list using indices. Similarly, we can get associated values of a row in a series with an index (label).

In [7]:
# INDEXING SERIES
print("row value:", pd.Series(data=my_list, index=labels)['label1'])

row value: m

### D. Adding two Series
If we add two series, values under the same label are added. Otherwise, they are filled with <code>Nan</code>. The number of columns increases as unique-labelled columns are added.

In [8]:
# SERIES ADDITION
se1 = pd.Series([1, 2, 3, 4], index=['USA', 'UK', 'Russia', 'NK'])
se2 = pd.Series([4, 0, 2, 1], index=['USA', 'Myanmar', 'Russia', 'SK'])
print(se1)
print()
print(se2)
print()
print(se1 + se2)

USA       1
UK        2
Russia    3
NK        4
dtype: int64

USA        4
Myanmar    0
Russia     2
SK         1
dtype: int64

Myanmar    NaN
NK         NaN
Russia     5.0
SK         NaN
UK         NaN
USA        5.0
dtype: float64

## METHOD seed()
A seed is some number that whenever it is used with the method <code>seed()</code>, the output is reproducible.

In [9]:
np.random.seed(101)


## Dataframe

In [10]:
# DATAFRAME
df = pd.DataFrame(np.random.randn(4, 5), index='row1 row2 row3 row4'.split(), columns=['col1', 'col2', 'col3', 'col4', 'col5'])
print(df)

          col1      col2      col3      col4      col5
row1  2.706850  0.628133  0.907969  0.503826  0.651118
row2 -0.319318 -0.848077  0.605965 -2.018168  0.740122
row3  0.528813 -0.589001  0.188695 -0.758872 -0.933237
row4  0.955057  0.190794  1.978757  2.605967  0.683509

### A. Type Checking
The type of a dataframe differs from the type of its column.

In [11]:
print(type(df)) # frame.DataFrame object
print(type(df['col3'])) # series.Series object

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

### B. Summing vs. Adding columns
We can sum all values of the columns in a dataframe with the <code>+</code> operator. We can also add/insert one or more new columns to a dataframe with its column name.

In [12]:
# COLUMNS ADDITION
df['total'] = df['col1'] + df['col2'] + df['col3'] + df['col4'] + df['col5']
print(df)

print()

# ADDING COLUMN
df['countries'] = ['US', 'UK', 'Ukarine', 'Uganda'] # insert a new column
print(df)

          col1      col2      col3      col4      col5     total
row1  2.706850  0.628133  0.907969  0.503826  0.651118  5.397896
row2 -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.839476
row3  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -1.563601
row4  0.955057  0.190794  1.978757  2.605967  0.683509  6.414084

          col1      col2      col3      col4      col5     total countries
row1  2.706850  0.628133  0.907969  0.503826  0.651118  5.397896        US
row2 -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.839476        UK
row3  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -1.563601   Ukarine
row4  0.955057  0.190794  1.978757  2.605967  0.683509  6.414084    Uganda

### C. Getting Labels of rows and columns
A label of a row is called an index.

In [13]:
# GETTING LABELS OF ROWS
print(df.index)

print()

# GETTING LABELS OF COLUMNS
print(df.columns)

Index(['row1', 'row2', 'row3', 'row4'], dtype='object')

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'total', 'countries'], dtype='object')

### D. Accessing rows and columns
We can only pass a single argument to access rows or columns. If we need to access multiple rows or columns, we use double brackets.

We can use two methods to retrieve a row.
1. <code>iloc()</code> -> pass an index, a position
2. <code>loc()</code> -> pass a label, a name

We can also pass both a row and a column to select a specific element.

In [14]:
# SELECTING / INDEXING COLUMNS
print(df[['col1', 'col2']])
print()

# SELECTING / INDEXING A ROW
print(df.iloc[0]) # using iloc()
print()
print(df.loc['row1']) # using loc()
print()

# SELECTING / INDEXING AN ELEMENT
print('row2 col3 element:', df.loc['row2']['col3'])

          col1      col2
row1  2.706850  0.628133
row2 -0.319318 -0.848077
row3  0.528813 -0.589001
row4  0.955057  0.190794

col1          2.70685
col2         0.628133
col3         0.907969
col4         0.503826
col5         0.651118
total        5.397896
countries          US
Name: row1, dtype: object

col1          2.70685
col2         0.628133
col3         0.907969
col4         0.503826
col5         0.651118
total        5.397896
countries          US
Name: row1, dtype: object

row2 col3 element: 0.6059653494949336

### E(a). Modifying Labels of rows: One Layer

We can 
- set values under a column as labels for row using the <code>set_index()</code> method.
- reset index with the <code>reset_index()</code> method.
- change the header of index column (key column) by setting the <code>index.names</code> attribute. Alternatively, we can change the name of the column before it becomes the index column.

In [15]:
# ASSIGNING INDEXES / LABELS
df.set_index('countries', inplace=True) # set a column as index/label for rows
print(df)
print()

# RESETTING INDEX
print(df.reset_index())
print()

# ASSIGN / CHANGE INDEX HEADER
df.index.names = ['countries_with_U']
print(df)

               col1      col2      col3      col4      col5     total
countries
US         2.706850  0.628133  0.907969  0.503826  0.651118  5.397896
UK        -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.839476
Ukarine    0.528813 -0.589001  0.188695 -0.758872 -0.933237 -1.563601
Uganda     0.955057  0.190794  1.978757  2.605967  0.683509  6.414084

  countries      col1      col2      col3      col4      col5     total
0        US  2.706850  0.628133  0.907969  0.503826  0.651118  5.397896
1        UK -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.839476
2   Ukarine  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -1.563601
3    Uganda  0.955057  0.190794  1.978757  2.605967  0.683509  6.414084

                      col1      col2      col3      col4      col5     total
countries_with_U
US                2.706850  0.628133  0.907969  0.503826  0.651118  5.397896
UK               -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.839476
Ukarine           0.528813 -0.589001  0.188695 -0.758872 -0.933237 -1.563601
Uganda            0.955057  0.190794  1.978757  2.605967  0.683509  6.414084

### E(b). Modifying Labels of rows: Multiple Layers

First, we create each layer of indexes. Then, layers of indexes are zipped together using the <code>zip()</code> method. It is then transformed into the multi-index object using the <code>MultiIndex.from_tuples()</code> method. Finally, we use the <code>set_index()</code> method.

In [16]:
# ASSIGNING INDEXES / LABELS WITH HIERACHY

## create lists of elements which are to be labels
outside = 'main_indexA main_indexA main_indexB main_indexB'.split()
inside = 'sub_index1 sub_index2 sub_index1 sub_index2'.split()

## put two items from each list, in a tuple
hier_index = list(zip(outside, inside))
print(hier_index)
print()

## transform it to multi-index object
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)
print()

## set multi-level index/label
df.set_index(hier_index, inplace=True)
print(df)

[('main_indexA', 'sub_index1'), ('main_indexA', 'sub_index2'), ('main_indexB', 'sub_index1'), ('main_indexB', 'sub_index2')]

MultiIndex([('main_indexA', 'sub_index1'),
            ('main_indexA', 'sub_index2'),
            ('main_indexB', 'sub_index1'),
            ('main_indexB', 'sub_index2')],
           )

                            col1      col2      col3      col4      col5  \
main_indexA sub_index1  2.706850  0.628133  0.907969  0.503826  0.651118
            sub_index2 -0.319318 -0.848077  0.605965 -2.018168  0.740122
main_indexB sub_index1  0.528813 -0.589001  0.188695 -0.758872 -0.933237
            sub_index2  0.955057  0.190794  1.978757  2.605967  0.683509

                           total
main_indexA sub_index1  5.397896
            sub_index2 -1.839476
main_indexB sub_index1 -1.563601
            sub_index2  6.414084

### F(a). Accessing multi-index rows with the <code>loc()</code> method
We can access rows of a dataframe with multi-index, just as we do with a single index layer.

In [17]:
# SELECTING / INDEXING A ROW WITH MULTI-INDEX
print(df.loc['main_indexA'].loc['sub_index1']) # values of 'main_indexA/sub_index1'

col1     2.706850
col2     0.628133
col3     0.907969
col4     0.503826
col5     0.651118
total    5.397896
Name: sub_index1, dtype: float64

### F(b). Accessing multi-index rows with the <code>xs()</code> method
We pass a single label to the <code>xs()</code> method to pack a tuple for multiple labels.

The index hierachy is represented by the index level.
- level = 0 -> search at the foremost (main) index level
- level = n -> search at the index level 'n'

In [18]:
print(df.xs(('main_indexA', 'sub_index1'))) # alternative approach to retrieve values of 'main_indexA/sub_index1'
print(df.xs('main_indexA', level=0)) # values of all sub-indexes with 'main_indexA' -> 'main_indexA/sub_index1' and 'main_indexA/sub_index2'
print(df.xs('sub_index1', level=1))  # values of all main-indexes with 'sub-index1' -> 'main_indexA/sub_index1' and 'main_indexB/sub_index1'

col1     2.706850
col2     0.628133
col3     0.907969
col4     0.503826
col5     0.651118
total    5.397896
Name: (main_indexA, sub_index1), dtype: float64
                col1      col2      col3      col4      col5     total
sub_index1  2.706850  0.628133  0.907969  0.503826  0.651118  5.397896
sub_index2 -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.839476
                 col1      col2      col3      col4      col5     total
main_indexA  2.706850  0.628133  0.907969  0.503826  0.651118  5.397896
main_indexB  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -1.563601

### G. Using the <code>inplace</code> parameter
The <code>inplace</code> parameter helps us determine whether we want changes applied to the original dataframe or the copied dataframe.
- inplace=True -> modify the original df -> original dataframe gets modified permanently
- inplace=False -> modify the copied df -> original dataframe does not get modified permanently

By default, it is `inplace=False`.

### H. Dropping / Deleting
There are two approaches:
1. `drop()` method -> A pandas method specifically designed for DataFrames
    - more flexible and feature-rich
    - can drop multiple items at once
    - can drop rows or columns using the `axis` parameter
        - axis=0 -> drop rows (default)
        - axis=1 -> drop columns
    - supports the `inplace` parameter
    - returns a new DataFrame by default (unless inplace=True)
2. `del` keyword -> A Python keyword, not specific to pandas
    - simpler syntax for dropping columns
    - can only remove one column at a time
    - cannot be used to drop rows
    - always modifies the original DataFrame

In [19]:
# DROPPING WITH INPLACE PARAMETER

print(df.drop('main_indexA', axis=0)) # try dropping a row
print("\noriginal df with inplace = false")
print(df) # row is not dropped because the original df is unaffected due to inplace=false

df.drop('col2', axis=1, inplace=True) # try dropping a column
print("\noriginal df with inplace = true")
print(df) # column is dropped because  the original df is affected due to inplace=true

# using del to drop a column
del df['col5']
print(df)

                            col1      col2      col3      col4      col5  \
main_indexB sub_index1  0.528813 -0.589001  0.188695 -0.758872 -0.933237
            sub_index2  0.955057  0.190794  1.978757  2.605967  0.683509

                           total
main_indexB sub_index1 -1.563601
            sub_index2  6.414084

original df with inplace = false
                            col1      col2      col3      col4      col5  \
main_indexA sub_index1  2.706850  0.628133  0.907969  0.503826  0.651118
            sub_index2 -0.319318 -0.848077  0.605965 -2.018168  0.740122
main_indexB sub_index1  0.528813 -0.589001  0.188695 -0.758872 -0.933237
            sub_index2  0.955057  0.190794  1.978757  2.605967  0.683509

                           total
main_indexA sub_index1  5.397896
            sub_index2 -1.839476
main_indexB sub_index1 -1.563601
            sub_index2  6.414084

original df with inplace = true
                            col1      col3      col4      col5     total
main_indexA sub_index1  2.706850  0.907969  0.503826  0.651118  5.397896
            sub_index2 -0.319318  0.605965 -2.018168  0.740122 -1.839476
main_indexB sub_index1  0.528813  0.188695 -0.758872 -0.933237 -1.563601
            sub_index2  0.955057  1.978757  2.605967  0.683509  6.414084
                            col1      col3      col4     total
main_indexA sub_index1  2.706850  0.907969  0.503826  5.397896
            sub_index2 -0.319318  0.605965 -2.018168 -1.839476
main_indexB sub_index1  0.528813  0.188695 -0.758872 -1.563601
            sub_index2  0.955057  1.978757  2.605967  6.414084

### I. Conditionals
We can use conditionals with specific columns or rows of a dataframe or the whole dataframe itself. The result is Boolean values which can be used as a new condition to obtain filtered values of the dataframe. We can form complex conditionals from the results.

In [20]:
# USING CONDITIONAL
print(df > 0) # obtain booleans
print()

# FILTER THE DATAFRAME
print(df[df > 0]) # obtain filtered values
print()

# FILTER A COLUMN
print(df[df['total'] > 0]) # obtain filtered values
print()

# MORE CONDITIONALS
## obtain rows (satisfying respective conditions) under 'col1' column and rows under 'col3' column 
## return empty since the two conditions are not satisfied
print(df[(df['col1'] > 1) & (df['col3'] < 0)])

                         col1  col3   col4  total
main_indexA sub_index1   True  True   True   True
            sub_index2  False  True  False  False
main_indexB sub_index1   True  True  False  False
            sub_index2   True  True   True   True

                            col1      col3      col4     total
main_indexA sub_index1  2.706850  0.907969  0.503826  5.397896
            sub_index2       NaN  0.605965       NaN       NaN
main_indexB sub_index1  0.528813  0.188695       NaN       NaN
            sub_index2  0.955057  1.978757  2.605967  6.414084

                            col1      col3      col4     total
main_indexA sub_index1  2.706850  0.907969  0.503826  5.397896
main_indexB sub_index2  0.955057  1.978757  2.605967  6.414084

Empty DataFrame
Columns: [col1, col3, col4, total]
Index: []

### J. Handling Missing Data

When there are null values or `NaN` in a dataframe, we can either drop or replace them with some values. 

- The `axis` parameter distinguishes a row from a column.
- The `value` parameter represents an arbitary value to replace `NaN`.
- The `thresh` parameter specifies the minimum number of non-null values required for a row or column to be kept in the dataframe.

In [21]:
# filter the dataframe
df = df[df > 0]
print(df)
print()

# check null values
print(df.isnull()) 
print()

# replace columns having 'NaN' with an arbitary value
print(df.fillna(axis=1, value='empty'))
print()

# drop columns having 'NaN'
print(df.dropna(axis=1))
print()

# drop all rows having 'NaN' except rows having at least 4 non-null values
print(df.dropna(axis=0, thresh=4))

                            col1      col3      col4     total
main_indexA sub_index1  2.706850  0.907969  0.503826  5.397896
            sub_index2       NaN  0.605965       NaN       NaN
main_indexB sub_index1  0.528813  0.188695       NaN       NaN
            sub_index2  0.955057  1.978757  2.605967  6.414084

                         col1   col3   col4  total
main_indexA sub_index1  False  False  False  False
            sub_index2   True  False   True   True
main_indexB sub_index1  False  False   True   True
            sub_index2  False  False  False  False

                            col1      col3      col4     total
main_indexA sub_index1   2.70685  0.907969  0.503826  5.397896
            sub_index2     empty  0.605965     empty     empty
main_indexB sub_index1  0.528813  0.188695     empty     empty
            sub_index2  0.955057  1.978757  2.605967  6.414084

                            col3
main_indexA sub_index1  0.907969
            sub_index2  0.605965
main_indexB sub_index1  0.188695
            sub_index2  1.978757

                            col1      col3      col4     total
main_indexA sub_index1  2.706850  0.907969  0.503826  5.397896
main_indexB sub_index2  0.955057  1.978757  2.605967  6.414084

### K(a). Common Built-in Methods for Data Analysis

- `head(n)` method -> Returns the first *n* rows of the DataFrame. Useful for quickly previewing data.
- `unique()` method -> Returns an array of unique values in a Series/column, removing all duplicates.
- `nunique()` method -> Returns the count of unique values in a Series/column.
- `value_counts()` method -> Returns a Series containing the counts of unique values, sorted in descending order by default.
- `sum()` method -> Calculates the sum of all values in a numeric Series/column.

In [22]:
df = pd.DataFrame({'col1':[1, 2, 3, 4],
                   'col2':[444, 555, 666, 777],
                   'col3':['abc', 'def', 'ghi', 'xyz']})

print(df.head(3)) # get the first '3' rows
print()
print(df['col2'].unique())  # get the unique elements under a column
print()
print(df['col2'].nunique()) # get the number of unique elements under a column
print()
print(df['col2'].value_counts()) # count the unique elements under a column
print()
print(df['col2'].sum()) # adds everything under a column

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi

[444 555 666 777]

4

col2
444    1
555    1
666    1
777    1
Name: count, dtype: int64

2442

### K(b). Sorting
We can sort values within a dataframe using the `DataFrame.sort_values()` method. 

The `by` parameter specifies which column(s) to sort by:
- Single column: `by='column_name'`
- Multiple columns: `by=['column1', 'column2']`

The `ascending` parameter controls the sort order:
- `True` -> ascending order (default)
- `False` -> descending order

For multiple columns, we can specify order per column with `ascending=[True, False]`

Additional useful parameters:
- `inplace` -> whether to modify the original DataFrame (`True`) or return a new one (`False`)
- `na_position` -> where to place NaN values ('first' or 'last')
- `ignore_index` -> whether to reset the index after sorting

In [23]:
# SORTING
print(df.sort_values(by='col2', ascending=True))

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  xyz

### K(c). Custom Methods
We can also create custom functions or methods to apply them to a dataframe. The `DataFrame.apply()` method takes a function or a method as an argument.

In [24]:
# custom function
def multiply_with_2(x):
	return x*2

# applying a custom function
df['col1*2'] = df['col1'].apply(multiply_with_2)
print(df)
print()

# applying a custom method 
print('col3 has strings whose lengths are-')
print(df['col3'].apply(len))

   col1  col2 col3  col1*2
0     1   444  abc       2
1     2   555  def       4
2     3   666  ghi       6
3     4   777  xyz       8

col3 has strings whose lengths are-
0    3
1    3
2    3
3    3
Name: col3, dtype: int64

### L. Grouping

Grouping is a powerful data analysis technique that allows us to:
- Split data into groups based on one or more criteria
- Perform calculations or operations on each group separately
- Combine the results back into a meaningful format

The `describe()` method provides a comprehensive statistical summary that includes count, mean, std, min, max, and quartile values all at once.

You can also access these statistics individually using:
- `count()` method -> returns the number of non-null values in each group
- `mean()` method -> calculates the average value for numeric columns in each group
- `std()` method -> calculates the standard deviation (measure of spread) for numeric columns
- `min()` method -> returns the minimum value in each group
- `max()` method -> returns the maximum value in each group

The `transpose()` method flips rows and columns for easier viewing.

In [25]:
# GROUPING

## create a new df
data = {
            'Company':['GOOGLE', 'META', 'NVIDIA', 'OPENAI', 'MICROSOFT', 'APPLE'],
            'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
            'Sales':[200, 120, 340, 124, 243, 350]
	}
df = pd.DataFrame(data)
print(df)
print()

## use groupby()
comp_gp = df.groupby("Company")
print()

## describe the transposed group
print(comp_gp.describe().transpose())
print()

## example of using an individual statistic method
### mean(), std(), min(), max()
print(comp_gp.count())
print()

## extract a variable
nvidia = comp_gp.describe().transpose()['NVIDIA']
print(nvidia)

     Company   Person  Sales
0     GOOGLE      Sam    200
1       META  Charlie    120
2     NVIDIA      Amy    340
3     OPENAI  Vanessa    124
4  MICROSOFT     Carl    243
5      APPLE    Sarah    350


Company      APPLE  GOOGLE   META  MICROSOFT  NVIDIA  OPENAI
Sales count    1.0     1.0    1.0        1.0     1.0     1.0
      mean   350.0   200.0  120.0      243.0   340.0   124.0
      std      NaN     NaN    NaN        NaN     NaN     NaN
      min    350.0   200.0  120.0      243.0   340.0   124.0
      25%    350.0   200.0  120.0      243.0   340.0   124.0
      50%    350.0   200.0  120.0      243.0   340.0   124.0
      75%    350.0   200.0  120.0      243.0   340.0   124.0
      max    350.0   200.0  120.0      243.0   340.0   124.0

           Person  Sales
Company
APPLE           1      1
GOOGLE          1      1
META            1      1
MICROSOFT       1      1
NVIDIA          1      1
OPENAI          1      1

Sales  count      1.0
       mean     340.0
       std        NaN
       min      340.0
       25%      340.0
       50%      340.0
       75%      340.0
       max      340.0
Name: NVIDIA, dtype: float64

### M. Concatenation, Merge, and Join

Pandas provides three main operations for combining DataFrames:

1. **Concatenation** with `pd.concat()` method:
   - Combines DataFrames by stacking them either vertically (axis=0) or horizontally (axis=1)
   - Useful when DataFrames have similar structure but different indices
   - Preserves all data from input DataFrames

2. **Merge** with `pd.merge()` method:
   - Combines DataFrames based on common columns or indices, similar to SQL joins
   - Requires at least one common column between DataFrames
   - Supports different join types: inner, outer, left, right
   - Useful for relating data from different sources based on common keys

3. **Join** with `DataFrame.join()` method:
   - Combines DataFrames based on their indices
   - Simpler alternative to merge when combining on index
   - By default performs a left join, but supports other join types (inner, outer)
   - Particularly useful when DataFrames share an index but have different columns

In [26]:
# CONCATENATION

df1 = pd.DataFrame(
	{
	'A':'A0 A1 A2'.split(),
	'B':'B0 B1 B2'.split(),
	'C':'C0 C1 C2'.split()
	}, index=[0, 1, 2])

df2 = pd.DataFrame(
	{
	'A':'A3 A4 A5'.split(),
	'B':'B3 B4 B5'.split(),
	'C':'C3 C4 C5'.split()
	}, index=[3, 4, 5])

df3 = pd.DataFrame(
	{
	'A':'A6 A7 A8'.split(),
	'B':'B6 B7 B8'.split(),
	'C':'C6 C7 C8'.split()
	}, index=[6, 7, 8])

print(pd.concat([df1, df2, df3], axis=1))  # concatenates horizontally # index matters

     A    B    C    A    B    C    A    B    C
0   A0   B0   C0  NaN  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1  NaN  NaN  NaN  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN   A3   B3   C3  NaN  NaN  NaN
4  NaN  NaN  NaN   A4   B4   C4  NaN  NaN  NaN
5  NaN  NaN  NaN   A5   B5   C5  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN   A6   B6   C6
7  NaN  NaN  NaN  NaN  NaN  NaN   A7   B7   C7
8  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8

In [27]:
# MERGE

df1 = pd.DataFrame(
	{
	'A':'A0 A1 A2'.split(),
	'B':'B0 B1 B2'.split(),
	'C':'C0 C1 C2'.split()
	}, index=[0, 1, 2])
print(df1)
print()

df2 = pd.DataFrame(
	{
    'B':'B0 B1 B2'.split(),
	'C':'C0 C1 C2'.split(),
	'D':'D0 D1 D2'.split(),
	'E':'E0 E1 E2'.split()
	}, index=[0, 1, 2])
print(df2)
print()

print(pd.merge(df1, df2, on='C'))
print()
print(pd.merge(df1, df2, how='inner', on=['C']))
print()
print(pd.merge(df1, df2, how='outer', on=['B', 'C']))
print()
print(pd.merge(df1, df2, how='right', on=['B', 'C']))
print()
print(pd.merge(df1, df2, how='left', on=['B', 'C']))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

    B   C   D   E
0  B0  C0  D0  E0
1  B1  C1  D1  E1
2  B2  C2  D2  E2

    A B_x   C B_y   D   E
0  A0  B0  C0  B0  D0  E0
1  A1  B1  C1  B1  D1  E1
2  A2  B2  C2  B2  D2  E2

    A B_x   C B_y   D   E
0  A0  B0  C0  B0  D0  E0
1  A1  B1  C1  B1  D1  E1
2  A2  B2  C2  B2  D2  E2

    A   B   C   D   E
0  A0  B0  C0  D0  E0
1  A1  B1  C1  D1  E1
2  A2  B2  C2  D2  E2

    A   B   C   D   E
0  A0  B0  C0  D0  E0
1  A1  B1  C1  D1  E1
2  A2  B2  C2  D2  E2

    A   B   C   D   E
0  A0  B0  C0  D0  E0
1  A1  B1  C1  D1  E1
2  A2  B2  C2  D2  E2

In [28]:
# JOIN

left = pd.DataFrame(
	{
	'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
    }, index=['K0', 'K1', 'K2'])

right = pd.DataFrame(
	{
	'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
    }, index=['K0', 'K2', 'K3'])

print(left.join(right)) # how=inner gives no nan rows # outer gives all nans rows
# no how parameter gives no nan rows in left, right rows are adjusted to left

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

## Pivot Table
A pivot table is a data summarization tool that can:
- Reorganize and summarize selected columns and rows of data
- Transform long-format data into a wider, more readable format
- Create cross-tabulations of data
- Aggregate data using various functions (sum, mean, count, etc.)

The `DataFrame.pivot_table()` method creates a pivot table from a dataframe. Keys parameters are as follows.
- `values` parameter -> column(s) to aggregate
- `index` parameter -> column(s) to group by on rows
- `columns` parameter -> column(s) to group by on columns
- `aggfunc` parameter -> aggregation function(s) to use (default='mean')
  - Common options: 'sum', 'mean', 'count', 'min', 'max'
  - We can pass multiple functions as a list: ['sum', 'mean']
- `fill_value` parameter -> value to replace missing data
- `margins` parameter -> add row/column totals (default=False)

In [29]:
# creating a dataframe
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Region': ['North', 'South', 'North', 'South'],
    'Sales': [100, 200, 150, 250],
    'Units': [10, 20, 15, 25]
}
df = pd.DataFrame(data)
print(df)
print()

# simple pivot table
print(pd.pivot_table(df, 
                    values='Sales',
                    index='Product',
                    columns='Region'))
print()

# multiple aggregations
print(pd.pivot_table(df,
                    values=['Sales', 'Units'],
                    index='Product',
                    columns='Region',
                    aggfunc={'Sales': 'sum', 'Units': 'mean'},
                    margins=True))

         Date Product Region  Sales  Units
0  2024-01-01       A  North    100     10
1  2024-01-01       B  South    200     20
2  2024-01-02       A  North    150     15
3  2024-01-02       B  South    250     25

Region   North  South
Product
A        125.0    NaN
B          NaN  225.0

         Sales             Units
Region   North  South  All North South   All
Product
A        250.0    NaN  250  12.5   NaN  12.5
B          NaN  450.0  450   NaN  22.5  22.5
All      250.0  450.0  700  12.5  22.5  17.5

## Reading and Writing Files
We can read data from a CSV or an Excel file. Likewise, we can output our data to such formats.

For a CSV format:
- `pd.read_csv()` method -> reads CSV files into a dataframe
- `pd.to_csv()` method -> writes dataframe to CSV

For an Excel format:
- `pd.read_excel()` method -> reads Excel files into a dataframe
- `pd.to_excel()` method -> writes dataframe to Excel

We can even read data from HTML using the `read_html()` method. It reads tables from HTML into list of dataframes. For this, we need to import the `lxml` and `html5lib` libraries.

In [30]:
# %pip install lxml # uncomment this line to install
# %pip install html5lib # uncomment this line to install

In [31]:
import lxml
import html5lib

In [32]:
# df1 = pd.read_csv('file.csv') # read csv file
# df1.to_csv('example1', index=False) # write csv file

# df2 = pd.read_excel('file.xlsx', sheet_name='Sheet1') # read excel file
# df2.to_excel('Excel_Sample.xlsx', sheet_name='Sheet1') # write excel file

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue') # read html
df3 = tables[0]
print(df3.head())

  Rank                             Name     Industry      Revenue  \
  Rank                             Name     Industry USD millions
0    1                          Walmart       Retail     $648,125
1    2                           Amazon       Retail     $574,785
2    3  State Grid Corporation of China  Electricity     $545,948
3    4                     Saudi Aramco  Oil and gas     $494,890
4    5  China Petrochemical Corporation  Oil and gas     $429,700

        Profit Employees Headquarters[note 1] State-owned Ref.
  USD millions Employees Headquarters[note 1] State-owned Ref.
0      $15,511   2100000        United States         NaN  [1]
1      $30,425   1525000        United States         NaN  [4]
2       $9,204   1361423                China         NaN  [5]
3     $129,699     73311         Saudi Arabia         NaN  [6]
4       $9,393    513434                China         NaN  [7]